* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100% ;
  height: 3000px;
}
.banner-center {
  width: 90%;
  /* width: 1200px; */
  margin: 0 auto;
  overflow: hidden;
}
.clear_margin_right {
  margin-right: 0 !important;
}
.clear_margin_bottom {
  margin-bottom: 0 !important;
}
html {
  font-size: 100px;
}
html body {
  font-size: 16px;
  position: relative;
  background: #f2f2f2;
}
html body .contain .leader {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  background: lightblue;
  overflow: hidden;
}
html body .contain .leader > li {
  width: 30%;
  height: 100%;
  /* float: left; */
  display: inline-block;
}
html body .contain .leader > li > span {
  display: inline-block;
  width: 41.2%;
  height: 0.03rem;
  background: blue;
  vertical-align: middle;
}
html body .shop_list table {
  width: 100%;
  height: 5rem;
  text-align: center;
}
html body .shop_list table > td {
  width: 19%;
  background: pink;
}
html body .shop_list table > td img {
  display: inline-block;
  width: 50px;
  height: 50px;
}
html body .shop_list table .order_id {
  display: none;
}
html body .shop_list table .add {
  cursor: pointer;
  display: inline-block;
  width: 0.5rem;
  height: 0.25rem;
  margin-right: 0.1rem;
  background: rebeccapurple;
  color: white;
  border-radius: 0.1rem;
}
html body .shop_list table .del {
  cursor: pointer;
  display: inline-block;
  margin-left: 0.1rem;
  width: 0.5rem;
  height: 0.25rem;
  color: white;
  background: rebeccapurple;
  border-radius: 0.1rem;
}
html body .cal_contain {
  height: 1rem;
  text-align: left;
}
html body .cal_contain .cal_price {
  width: 1rem;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  background: #e6adce;
  color: white;
  border-radius: 0.25rem;
  display: inline-block;
}
